<div class="dialog-header d-flex justify-content-between" mat-dialog-title>
    <div class="theme-header d-flex">
        <mat-icon color="primary">palette</mat-icon>
        <h1 mat-dialog-title>Themes</h1>
    </div>
  

    <div mat-dialog-close class="close-button">
        <mat-icon>highlight_off</mat-icon>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
 
    <!-- <mat-grid-list cols="3" rowHeight="3:2" gutterSize="1rem">

        <mat-grid-tile *ngFor="let item of tiles"  >   -->
    <div class="container-fluid">
        <div class="card-container row">

            <div class="col-lg-4 col-md-4 p-2" *ngFor="let item of tiles" >
                <mat-card  class="list-cell" (click)="selectTheme(item)" [ngClass]="{'highlight':checkTheme(item.backgroundColor) || isTheme  === item.backgroundColor}" [style.background-color]="item.backgroundColor"  style="margin: auto;">
                    <p [style.color]="item.color">{{item.name}}</p>
                </mat-card>

            </div>


        </div>
    </div>

        <!-- </mat-grid-tile>
    </mat-grid-list> -->
</mat-dialog-content>