mat-card{
    width: 25vh;
    height: 15vh  !important;
    transition: 0.3s;
    border: .05rem solid  var(--clr-gray);


    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s;
        border: .08rem solid  var(--clr-cardlist);
        background-color: var(--clr-gray) !important;
      }
}

.highlight {

    border: .08rem solid    var(--clr-cardlist);
    background-color: rgba(187, 185, 185, 1)!important;    

  }