::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var( --clr-white); 
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201); 
}

// 2c55d1
.mat-nav-list{
  padding: 0%;
  height: 100%;
  overflow-x:hidden;
  .header{
    
    top: 5px;
    z-index: 50;
    position: sticky;
    background-color: var(--clr-darkgreen);    
    .add_slide{
      width: auto;
      height: 2.5rem;
      color: var(--clr-white);
      background-color: var(--clr-darkbutton);
  
      span{
        font-weight: lighter;
      }
      &:hover{
        background-color: var(--clr-dbgreen);
      }
    }
  
  
    .logo {
      width: 40px;
      cursor: pointer;
      min-height: 40px;
      margin: 0rem 0 1rem 0;
  
      img {     
        margin: 0rem .3rem;
        border-radius: 50%;
        width: inherit;
        height: inherit;
      }
      span{
        text-align: center;
        font-size: 1rem;
        margin: auto;
        color: var(--clr-white);;
        font-weight: 600;
        white-space: nowrap ;
      }
    }
  
    .mat-divider {
      border-top-width: 2px;
      margin: 1rem 0rem 0rem 0rem;
      border-color: var(--clr-white);
    }
    
  }
}




  

  .mat-menu-item{
    color: var(--clr-third) !important;
    transition: 0.5s;

    mat-icon{
      color: var(--clr-third) !important;
    }

    &:hover{
     transition: 0.5s;
     color: var(--clr-white);
     background-color: var(--clr-warn) !important;
    }
   }

  .mat-list-item { 
    height: 100px !important;
    color: var(--clr-gray) !important;
    .number_label{
      font-size: 1rem;
      margin-left: -.8rem;
      padding-right: .3rem;
  
    }
    .slide_card{
      // display: flex;
      // align-items: center;
      // justify-content: center; 
      width: 120%;
      height: 80px !important;
      border-radius: 25px;
      border: .01rem solid  var(--clr-gray);
    
        .mat-card-content{
          font-weight: bold;
          text-align: center;

          mat-icon,h6{
            font-weight: lighter;
    
          }
        }
    }
  
    .menu{
      padding: 0;
      color: var(--clr-white);
      margin:0rem -1.5rem 0 -.8rem;
    }
    &:hover {
      color: var(--clr-lightgray) !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        margin: 0;
        transition: 0.5s;
        // border-radius: 5px;
        &:hover {
          transition: 0.5s;
          color: var(--clr-gray) !important;
          background-color: var(--clr-dark) !important;
        }

      }
    }
  }
  
  .highlight {
    background-color: var(--clr-white)!important;
    border: none;
    .number_label,.menu{
      font-weight: bold;
      color: var(--clr-dark);
    }
    .mat-card{
      border: 1px solid var(--clr-newgreen);
      box-shadow: 0px 0px 10px var(--clr-darkgreen);
    }
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  @media  screen and (max-width: 1366px) {
    /* insert styles here */
    .mat-list-item { 
      font-weight: bold;
      height: 100px !important;
      color: var(--clr-gray) !important;
          
      .slide_card{
        // display: flex;
        // align-items: center;
        // justify-content: center; 
        width: 120%;
        height: 70px !important;
        border: .01rem solid  var(--clr-gray);
      
          .mat-card-content{
            text-align: center;
  
            mat-icon,h6{
              font-weight: lighter;
      
            }
          }
      }
    }

    // .logo {
    //   width: 30px;
    //   min-height: 30px;
    //   // display: flex;
    //   // flex-direction: row;
    //   // justify-content: flex-start;   
    //   span{
    //     font-size: .8rem;
    //   }
    // }
}