<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
 
    <mat-nav-list>
      <div class="logo d-flex flex-direction-row justify-content-start" (click)="home()" matTooltip="Go back to home">
        <img src="../../../../assets/App logo wbg.png">
        <span >Presentations</span>
      </div>
      <div class="header text-center">
        <button mat-raised-button class="add_slide" (click)="addSlide()" [disabled]="isDisabled" matTooltip="Adds slide in presentation">
          <mat-icon>add</mat-icon>
          <span>Add Slide</span> 
        </button>
      </div>

        <mat-divider></mat-divider>
        <div cdkDropList
        [cdkDropListData]="items"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
          <mat-list-item class="example-box"  [disabled]="isDisabled" *ngFor="let item of items; let i = index;" (keydown.arrowleft)="selectionChange($event)" 
          (keydown.arrowright)="selectionChange($event)" [ngClass]="{'highlight':checkIfCardIsClicked(i)}" (click)="slideSelector(item, i)" (click)="progressIndex(i)" [disabled]="i===currentlyClickedCardIndex"  cdkDrag>
          
              <mat-label class="number_label" (change)="updateIndex(i)" >{{i + 1}}</mat-label>
        
              <mat-card class="slide_card d-flex align-items-center justify-content-center" matTooltip={{item.sType_fld}}  [style.background]="sTheme" [style.color]="sColor" (contextmenu)="onContextMenu($event, item, i)"> 
                <mat-card-content >
  
                  <!-- Content Slide -->
                  <mat-icon *ngIf= "item.sType_fld === 'heading'" class="slide-type">segment</mat-icon>
                  <h6 *ngIf= "item.sType_fld === 'heading'" class="small">Heading</h6>       
                  
                  <mat-icon *ngIf= "item.sType_fld === 'paragraph'" class="slide-type">horizontal_split</mat-icon>
                  <h6 *ngIf= "item.sType_fld === 'paragraph'" class="small">Paragraph</h6>

                  <mat-icon *ngIf= "item.sType_fld === 'bullets'" class="slide-type">format_list_bulleted</mat-icon>
                  <h6 *ngIf= "item.sType_fld === 'bullets'" class="small">Bullets</h6>
                  <!-- <img mat-card-image *ngIf= "item.sType_fld === 'heading'" src="../../../../assets//status/heading.svg" alt="Empty" class="slide-type">
                  <img mat-card-image *ngIf= "item.sType_fld === 'paragraph'" src="../../../../assets//status/paragraph.svg" alt="Empty" class="slide-type">
                  <img mat-card-image  *ngIf= "item.sType_fld === 'bullets'"  src="../../../../assets//status/bullets.svg" alt="Empty" class="slide-type"> -->

           
             
                   <!-- <p class="small" *ngIf="item.sType_fld == 'paragraph'"><small >Paragraph</small></p>
                   <p class="small" *ngIf="item.sType_fld == 'bullets'"><small >Bullets</small></p> -->

                   <!-- Quiz Competition -->

                   <mat-icon *ngIf= "item.sType_fld === 'sa'" class="slide-type">table_rows</mat-icon>
                   <h6 *ngIf= "item.sType_fld === 'sa'" class="small">Select Answer</h6>

                   <!-- <img mat-card-image  *ngIf= "item.sType_fld === 'sa'"  src="../../../../assets//status/selection.svg"  alt="Empty" class="slide-type"> -->

                   <!-- <p class="small" *ngIf="item.sType_fld == 'sa'"><small >Select Answer</small></p> -->

                   <!-- Popular Question -->
                   <mat-icon *ngIf= "item.sType_fld === 'qa'" class="slide-type">question_answer</mat-icon>
                   <h6 *ngIf= "item.sType_fld === 'qa'" class="small">Q & A</h6>

                   <mat-icon *ngIf= "item.sType_fld === 'mc'" class="slide-type">bar_chart</mat-icon>
                   <h6 *ngIf= "item.sType_fld === 'mc'" class="small">Multiple Choice</h6>

                   <mat-icon *ngIf= "item.sType_fld === 'poll'" class="slide-type">poll</mat-icon>
                   <h6 *ngIf= "item.sType_fld === 'poll'" class="small">Multiple Choice</h6>

                   <!-- <img mat-card-image  *ngIf= "item.sType_fld === 'qa'" src="../../../../assets//status/question.svg" alt="Empty" class="slide-type">
                   <img mat-card-image  *ngIf= "item.sType_fld === 'mc'"  src="../../../../assets//status/selection.svg"  alt="Empty" class="slide-type"> -->
<!-- 
                   <p class="small" *ngIf="item.sType_fld == 'qa'"><small >Q & A</small></p>
                   <p class="small" *ngIf="item.sType_fld == 'mc'"><small >Multiple Choice</small></p> -->

                </mat-card-content>
              </mat-card>  
              
              <!-- <button class="menu" mat-icon-button matRipple [matRippleDisabled]="ripple" #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu"  (click)="menuTrigger.openMenu()">
                <mat-icon>more_vert</mat-icon>
             </button>
             <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="removeSlide(item, i)">Remove</button>
            </mat-menu> -->
           </mat-list-item>
        </div>
        
        <div style="visibility: hidden; position: fixed"
          [style.left]="contextMenuPosition.x"
          [style.top]="contextMenuPosition.y"
          [matMenuTriggerFor]="contextMenu" >
        </div>
        <mat-menu #contextMenu="matMenu" >
          <ng-template matMenuContent let-item="item" let-i="i">
            <button matSuffix mat-menu-item color="warnn" (click)="openDeleteDialog(item, i)"><mat-icon>delete_forever</mat-icon>Delete</button>
          </ng-template>
        </mat-menu>
      
    </mat-nav-list>
  </mat-sidenav-content>
</mat-sidenav-container>



