.dialog-header{
    width: 500px;
    margin: 0;
    padding: 0;
    h1 {
    color: var( --clr-third);
    font-weight: 600;
    font-size: 1.5rem;
    
    }
}

mat-divider{
    padding-bottom: 1rem;
    width: 100%;
    border-color:1px var(--clr-third);
}

.btn-close {
    height: 23px;
    width: 23px;
    border: none;
    color: var(--clr-black);
    background-color: transparent;
    mat-icon{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: var(--clr-lightgray);

    }
}

.mat-dialog-content {
    overflow: hidden;
}
  
.mat-dialog-content > .row {
    padding: 12px 18px 0 12px;
    margin-bottom: -1.34375em;
}
mat-form-field{
    width: 100%;
}

.success{
    color: var(--clr-white);
    background-color: #00e640;
    button{
        width: 100%;
    }
}



@media screen and (min-width: 0px) and (max-width: 1024px) {
    .dialog-header{
        width: 100%;
        margin: 0;
        padding: 0;
        h1 {
        color: var( --clr-third);
        font-weight: 600;
        font-size: 1.5rem;
        
        }
    }

}