.header{
  .logo {
    width: 100px;
    min-height: 110px;
    margin: auto;
    img {     
      border-radius: 50%;
      border: 5px solid var(--clr-light);    
      width: inherit;
      height: inherit;
    }
  }
  
  
  .fullname{
    text-align: center;
    color: var(--font-light);
    p{
      margin: 0;
      font-weight: 600;
      font-size: .8rem;
      color: var(--clr-lightfontgreen);
     &:hover{
      text-decoration: underline;
     }
    }
  }
}

.mat-divider {
  margin: .5rem 1rem .5rem ;
  border-top-width: 1px;
  border-color: var(--clr-white);
}
  .mat-list-item {
    font-size:var(--font-small);
    font-weight: 500;
    // padding-right: .5rem;
    height: 60px !important;
    transition:  0.3s ease-out;
    color: var(--clr-white) !important;
    &:hover {
      // color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        // margin: 0 8px;
        // border-radius: 5px;
        &:hover {
          // background-color: #9BACCC !important;
        }
      }
    }
    .mat-icon {
      margin-left: .3rem;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }
  
  a.router-link-active {
    // padding-right: .5rem;
    // letter-spacing: .5px;
    pointer-events: none;
    color: var(--clr-white) !important;
    // border-left: 5px solid var(--clr-newgreen);
    ::ng-deep {
      .mat-list-item-content {
        opacity: 1;
        transition: 0.3s;
        font-weight: bold;
        // border-radius: 0 35px 35px 0;
        color: var(--clr-darkgreen) !important;
        background-color: var(--clr-secondary);
        &:hover {
          transition: 0.3s;
          color:var(--clr-white) !important;
          background-color: var(--clr-darkgreen);
          border: 1px solid var(--clr-lightfontgreen);
        }
      }
    }
  }




.footer{
  text-align: center;
  small{
    color: rgb(255, 255, 255);
    font-size: .8rem;
  }
}


@media  screen and (max-width: 1366px) {


  .mat-list-item {
    font-size: .8rem;
    // font-weight: 600;
    white-space: nowrap;
    height: 50px !important;
    color: #ffffff !important;
    &:hover {
      // color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        // margin: 0 8px;
        border-radius: 5px;
        &:hover {
          // background-color: #9BACCC !important;
        }
      }
    }
    .mat-icon {
      margin-right: .5rem;
      vertical-align: middle;
    }
  }

.logo {
  width: 100px;
  min-height: 130px;
  margin: auto;
  img {     
    border-radius: 50%;
    border: 5px solid var(--clr-lightgray);    
    width: inherit;
    height: inherit;
  }
}


.fullname{
  text-align: center;
  color: #fff;
  padding: 0 .2em;
  p{
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
    color: white;
  
  }
}

.version{
  text-align: center;
  small{
    color: rgb(255, 255, 255);
    font-size: .8rem;
  }
}
}