.mat-divider {
    margin: 1rem 1rem ;
    border-top-width: 2px;
    border-color: #ffffff;
}

  .mat-list-item {
    padding-right: .5rem;

    font-size: .8rem;
    font-weight: 500;
    transition:  0.3s ease-out;
    height: 60px !important;
    color: var(--clr-white) !important;
    &:hover {
      // color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        // margin: 0 8px;
        border-radius: 5px;
        &:hover {
          // background-color: #9BACCC !important;
        }
      }
    }
    .mat-icon {
      margin-left: -.5rem;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }
  
  a.router-link-active {
    padding-right: .5rem;
    // letter-spacing: .5px;
    border-left: 5px solid var(--clr-white);
    color: var(--clr-white) !important;
    ::ng-deep {
      .mat-list-item-content {
        opacity: 1;
        transition: 0.5s;
        font-weight: lighter;
        border-radius: 0 35px 35px 0;
        background: var(--clr-tertiary) !important;
        &:hover {
          transition: 0.5s;
          background:var(--clr-secondary) !important;
        }
      }
    }
  }

// .mat-subheader {
//   color: #818cf8;
//   font-size: 1rem;
//   font-weight: 100;
//   letter-spacing: 1px;
// }

.logo {
  width: 100px;
  min-height: 130px;
  margin: auto;
  img {     
    border-radius: 50%;
    border: 5px solid rgb(124, 124, 124);    
    width: inherit;
    height: inherit;
  }
}


.fullname{
  text-align: center;
  color: #fff;
  padding: 0 .2em;
  p{
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
    color: white;
  
  }
}

.version{
  text-align: center;
  small{
    color: rgb(255, 255, 255);
    font-size: .8rem;
  }
}


@media  screen and (max-width: 1366px) {
  .mat-divider {
    margin: 1rem 1rem ;
    border-top-width: 2px;
    border-color: var(--clr-white);
}

  .mat-list-item {
    font-size: .8rem;
    // font-weight: 600;
    white-space: nowrap;
    height: 50px !important;
    color: #ffffff !important;
    &:hover {
      // color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        // margin: 0 8px;
        border-radius: 5px;
        &:hover {
          // background-color: #9BACCC !important;
        }
      }
    }
    .mat-icon {
      margin-right: .5rem;
      vertical-align: middle;
    }
  }

.logo {
  width: 100px;
  min-height: 130px;
  margin: auto;
  img {     
    border-radius: 50%;
    border: 5px solid rgb(124, 124, 124);    
    width: inherit;
    height: inherit;
  }
}


.fullname{
  text-align: center;
  color: #fff;
  padding: 0 .2em;
  p{
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
    color: white;
  
  }
}

.version{
  text-align: center;
  small{
    color: rgb(255, 255, 255);
    font-size: .8rem;
  }
}
}