
.main-container{
    position: relative;
    z-index: 1;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(37deg,var(--clr-lightgreen),var(--clr-secondary));
    gap: 1em;
    color: var(--clr-input);

    padding: 1em;
    border-radius: 15px;
    mat-icon{
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
    }
    h5{
        color: var(--clr-input);
        font-size: var(--font-medium);
    }
}

.main-page{
    gap: 1em;
    display: grid;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .basic-info{
        padding: 1rem;
        border-radius: 15px;
        background-color: var(--clr-input);
        width: 100% !important;
        height: 300px !important;

        .header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            gap: .5rem;
            .profile-content{
                padding: 0!important;
                margin: 0 !important;
                h5{
                    font-weight: 500;
                    font-size:  1.3rem;
                    line-height: 1.2;
                    color: var(--font-black);
                }
                p{
                    color: var(--clr-divider);
                    // font-size: var(--font-normal);
                }
            }
            .image-holder{
                position: relative;
                width: 100px;
                height: 100px;
                img{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }
        }
        .card-header{
            background-color: var(--clr-primary);
            h6{
                font-weight: 600;
            }
        }
        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--clr-dark);
            height: 90px !important;
            h1{
                font-weight: 600;
                font-size: 3rem;
            }
        }
    }

    .personal-info{
        padding: 1.5rem;
        border-radius: 15px;
        width: 100% !important;
        height: 600px !important;
        background-color: var(--clr-input);
        
        .header{
            .personal-content{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
         
                h5{ 
                    font-weight: 500;
                    color: var(--font-black);
                    font-size: var(--font-medium);
                }
            }
        }

        .profile-form{
            .info-group{
                gap: 1rem;
                margin-bottom: 1rem;
                label{
                    font-weight: bold;
                    color: var(--font-black);
                    font-size: var(--font-normal);
                }
                p{  
                    background-color: var(--background-default);
                    padding: 1rem;
                    color: var(--clr-dark);
                    font-size: var(--font-small);
                    font-weight: 500;
                }
            }
        }
    }
}


@media  screen and (min-width: 768px) {
  
    .main-page{
        gap: 2em;
        grid-template-columns: 1fr 2fr;
    }

  
  }