.mat-card{
    height: 100% !important;
    width: 100% !important;
    background-color: var(--clr-white);
 }
.mat-tab-group{
    height: 85vh;
    width: 100% !important;
    margin: -.5rem 0px;
    // border-radius: 15px;
    
    //  Type
    .container{
        font-weight: 600;
        color: var(--clr-dark);
        padding: .5rem 1rem;

        .title p{
          font-size: 1rem;
        }

        .timer-input,.head-input,.paragraph-input,.option-holder{
          display: flex;
          padding: .5rem;
          transition: 0.3s;
          margin-bottom: .5rem;
          border-radius: 5px;
          background-color: var(--clr-white);
          border: .01rem solid var(--clr-gray);
          span.textlength{
            font-weight: lighter;
          }
          
          button,mat-checkbox{
            margin: auto;
          }

        

          input,textarea{
            font-weight: normal;
          }

          .mat-button{
            padding: 0;
            width: 10px !important;
          }
          &:hover{
            cursor: pointer;
            // transition: 0.3s;
            border: 1px solid var(--clr-fontgreen);
            box-shadow: 0px 0px 5px var(--clr-fontgreen);
          }
          &:focus-within{
            border: 1px solid var(--clr-fontgreen);
            box-shadow: 0px 0px 5px var(--clr-fontgreen);
          }
        }
        .timer-input{
          width: 4rem;
        }
        .paragraph-input{
          height: 120px;
        }
        
        .option-input{
          display: flex;
          height: 2.5rem;
          margin-bottom: 1rem;
          flex-direction: row;


          .check-box,img{
            margin: auto;
          }

          .close-button{
            padding: 0;
            margin: auto;

            &:hover{
              transition: .5s;
              cursor: pointer;
              font-size: 1rem;
              color: var(--clr-darkgreen);
            }
          }

          .option-holder{
            width: auto !important;            
            margin: 0 1rem;

            input{
              min-width: 290px !important;
              width: 100% !important;
             }
            }    
          }

          p{
            
             font-size: .9rem;
          }
     
        .title{
           padding: 0rem;
      
        }
        .row{
            margin-top: .5rem;
        }
         .center{
             padding: 0rem !important;
        }
        .header{
            margin: auto;
            display: flex;
            font-weight: 600;
            padding: 1rem 0rem .5rem;
            justify-content: space-between;

            span{
              text-align: left;
              color: var(--clr-fontgreen);
            }

            mat-chip{
              margin: auto;
              background-color: var(--clr-lightfontgreen);
              span{
                margin: auto;
                font-size: .8rem;
                font-weight: 600;
                color: var(--clr-fontgreen);
              }
            }
         
        }
        .settings{
          margin-bottom: 1rem;

            span{
              font-size: 1.5rem;
              font-weight: 600;
            }
            p{
              color: var(--clr-third);
              margin-top: 1rem;
            }
        }

        .top-header{
          font-weight: 600;
          margin: 2rem 0rem 0rem;
        }
        
        .extra{
          display: flex;
          flex-direction:column;
          margin: .5rem 0rem .5rem;
          .item{
            color:var(--clr-third);
          }
        }

        // Settings/Custom
        .low-header{
          margin: 0rem 2rem 0rem 1rem;
    
          .low-header-card{
            display: flex;
            flex-wrap: nowrap;
            p{
              font-weight: 600;
            }
            mat-card{
              display: flex;
              transition: 0.5s;
              min-height: 100px;
              align-items: center;
              justify-content: center;
              margin: .5rem 1rem 1rem 0rem;
              border: 1px solid  var(--clr-dark);

              &:hover {
                opacity: 0.8;
                cursor: pointer;
                transition: 0.5s;
                border: 1px solid var(--clr-fontgreen);
                box-shadow: 0px 0px 5px var(--clr-fontgreen);
                // background-color: #d2eaff !important;
             }
            }
          }
        }
        .add{
          width: 100% !important;
          color: var(--clr-white);
          background-color: var(--clr-darkbutton);          
          &:hover{
            background-color: var(--clr-dbgreen);
          }
        }

        .card_image{
          display: flex;
          transition: 0.5s;
          flex-direction: row;
          // align-items: center;
          justify-content: flex-start;   
          border: .01rem solid var(--clr-gray);

          .open-image{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            p{
              display: flex;
              flex-direction: column;
            }
          }
      
  
          button.button-remove{
            color:var(--clr-white);
            margin-right: 1rem;
            background-color: rgb(155, 155, 155);
          }
          button.button-submit{
            color:var(--clr-white);
            margin-left: 1rem;
            margin-right: 1rem;
            background-color: #1bbb94;;
          }
         
          .image_link{
            margin-right: 1rem;
            margin: auto;
            height: 100px;
            width: 150px;
          }
            &:hover {
              cursor: pointer;
              border: 1px solid var(--clr-fontgreen);
              background-color: var(--clr-lightfontgreen);
          }
        }


        mat-card.card-type{
          display: flex;
          align-items: center;   
          justify-content: center;
          text-align: center;
          margin: 0 !important;
          padding: 0 !important;
          transition: 0.5s;
          width: 100% !important;
          height: 15vh !important;
          border: .03rem solid  var(--clr-third);
        
          mat-icon{
            padding: 0 !important;
            margin-left: -2rem;
            font-size: 50px;
           
          }
          // .mat-card-title{
            // text-align: center;
      
            h6{
              font-size: 1rem;
              font-weight: 600;
            }
          // }
          &:hover {
              // opacity: 0.9;
              cursor: pointer;
              transition: 0.5s;
              border: .03rem solid  var(--clr-darkgreen);
              background-color: var(--clr-lightgreen) !important;
          }
          
        }
    }

    .highlight {
      // #2c3344
      // border: .01rem solid  #0a8dff;
      color: var(--clr-white);
      border: .01rem solid  var(--clr-dark);
      background-color:  var(--clr-newgreen) !important;    // color: rgb(118, 118, 255);
      .mat-icon,h6{
        font-weight: bold;
        color: var(--clr-white);
      }
  
      &:hover {
        // opacity: 0.9;
        cursor: pointer;
        transition: 0.5s;
        color: var(--clr-dark);
        background-color: var(--clr-darkgreen) !important;
      }
    }
  
}






.mat-card.scrollable-content {
    padding: 0px;
    overflow: hidden;
    display: flex;
    margin-top: -.9rem;
    flex-direction: row;
    height: 100% !important;

    > .mat-card-title-group {
      display: block;
    }
  
    > .mat-card-content {
      overflow-y: auto;
    }
  }
::ng-deep .mat-tab-header {
    width: auto;
    margin: 0 !important;
    padding-top: .5rem !important;
}
::ng-deep.mat-tab-label,.mat-tab-label-active{
  color:var(--clr-dark);    font-weight: 600;

}


// Content Inputs
.input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-full-width {
    width: 100%;
  }

// Accordion
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  @media  screen and (max-width: 1366px) {
    .mat-tab-group{
      height: 85vh !important;
      // width: 10wh !important;
      margin: -.5rem;

    }
  }
