<mat-card class="scrollable-content mat-elevation-z8" >
  <mat-tab-group [selectedIndex]="currentTabIndex" (selectedTabChange)="onTabChange($event)" 
  animationDuration="0ms" mat-stretch-tabs >
            <mat-tab label="Type" class="card_holder" matTooltip="Choose type of slide">
        
              <div class="container">
                <div class="card-body title">
                <p>Content Slides</p>
                </div>
                <div class="row ">
                  <div class="col-xl-6 col-lg-6 col-md-12">
                  <!-- <mat-grid-list cols="3" rowHeight="3:2" gutterSize="1rem"> -->
                    <!-- <mat-grid-tile>  -->
                      
                      <mat-card (click)="selectType('heading')" [ngClass]="{'highlight':checkIfCardIsSelected('heading')}" class="card-type">
                        <mat-card-content>

                        <mat-icon class="slide-type">line_weight</mat-icon>

                       <!-- <mat-card-title class=""> -->

                        <h6 class="small">Heading</h6>
                      <!-- </mat-card-title> -->
                        </mat-card-content>
                    </mat-card>
                    </div>
                    <!-- </mat-grid-tile>

                    <mat-grid-tile> -->
                      <div class="col-xl-6 col-lg-6 col-md-6">
                        <mat-card (click)="selectType('paragraph')" [ngClass]="{'highlight':checkIfCardIsSelected('paragraph')}" class="card-type">
                          <mat-card-content>
                            <!-- <img mat-card-image src="../../../../assets//status/paragraph.svg" alt="Empty" class="slide-type"> -->
                            <mat-icon class="slide-type">horizontal_split</mat-icon>
  
                            <h6 class="small">Paragraph</h6>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      
                      <!-- <div class="row "> -->
                        <div class="col-xl-6 col-lg-6 col-md-12 pt-3">
                      
                          <mat-card (click)="selectType('bullets')" [ngClass]="{'highlight':checkIfCardIsSelected('bullets')}" class="card-type">
                            <mat-card-content>
                              <!-- <img mat-card-image src="../../../../assets//status/bullets.svg" alt="Empty" class="slide-type"> -->
                              <mat-icon class="slide-type">format_list_bulleted</mat-icon>

                              <h6 class="small">Bullets</h6>
                            </mat-card-content>
                          </mat-card>
                        <!-- </div> -->
                      </div>  
                    </div>  
                    <!-- </mat-grid-tile>
                  </mat-grid-list> -->
                </div>

                <div class="container" *ngIf="this._user.getIsQuiz()">
                  <div class="card-body title">
                  <p>Quiz Competition</p>
                  </div>
                  <!-- <mat-grid-list cols="3" rowHeight="3:2" gutterSize="1rem">
                    <mat-grid-tile>  -->
                  <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-12">   
                      <mat-card (click)="selectType('quiz')" [ngClass]="{'highlight':checkIfCardIsSelected('quiz')}" class="card-type">
                        <mat-card-content>
                          <!-- <img mat-card-image src="../../../../assets//status/heading.svg" alt="Empty" class="slide-type"> -->
                          <mat-icon class="slide-type">table_rows</mat-icon>

                          <h6 class="small">Select Answer</h6>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <!-- </mat-grid-tile>
                      
                    <mat-grid-tile> -->
                    <div class="col-xl-6 col-lg-6 col-md-12">   

                      <mat-card (click)="selectType('identification')" [ngClass]="{'highlight':checkIfCardIsSelected('identification')}" class="card-type">
                        <mat-card-content>
                          <!-- <img mat-card-image src="../../../../assets//status/fillin.svg" alt="Empty" class="slide-type"> -->
                          <mat-icon class="slide-type">mode_edit</mat-icon>

                          <h6 class="small">Type Answer</h6>                                
                        </mat-card-content>
                      </mat-card>
                    </div>  
                <!-- </mat-grid-tile>
                  </mat-grid-list> -->
                  </div>
                </div>

                <div class="container" *ngIf="!this._user.getIsQuiz()">
                  <div class="card-body title">
                    <p>Popular Question Types
                  </div>
                  <!-- <mat-grid-list cols="3" rowHeight="3:2" gutterSize="1rem">
                    <mat-grid-tile> 
                       -->
                       <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">   
                          <mat-card (click)="selectType('qa')" [ngClass]="{'highlight':checkIfCardIsSelected('qa')}" class="card-type">
                            <mat-card-content>
                              <!-- <img mat-card-image src="../../../../assets//status/question.svg" alt="Empty" class="slide-type"> -->
                              <mat-icon class="slide-type">question_answer</mat-icon>
    
                              <h6 class="small">Q&A</h6>
                            </mat-card-content>
                          </mat-card>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 ">   
                          <mat-card (click)="selectType('mc')" [ngClass]="{'highlight':checkIfCardIsSelected('mc')}" class="card-type">
                            <mat-card-content>
                              <!-- <img mat-card-image src="../../../../assets//status/selection.svg" alt="Empty" class="slide-type"> -->
                              <mat-icon class="slide-type">bar_chart</mat-icon>
  
                              <h6 class="small">Multiple Choice</h6>                            
                            </mat-card-content>
                          </mat-card>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 pt-3">   
                          <mat-card (click)="selectType('poll')" [ngClass]="{'highlight':checkIfCardIsSelected('poll')}" class="card-type">
                            <mat-card-content>
                              <!-- <img mat-card-image src="../../../../assets//status/poll.svg" alt="Empty" class="slide-type"> -->
                              <mat-icon class="slide-type">poll</mat-icon>
  
                              <h6 class="small">Poll</h6>
                            </mat-card-content>
                          </mat-card>
                        </div>
                      </div>
                     
                    <!-- </mat-grid-tile>

                    <mat-grid-tile> -->
                     
                    <!-- </mat-grid-tile>

                      <mat-grid-tile > -->
                       
                      <!-- </mat-grid-tile>

                    
                    </mat-grid-list> -->
                </div>
             

                    
                    <!-- <div class="container">
                      <div class="title">
                        <p>Popular Question Types</p>
                      </div>
                          <div class="row">
                            <div class="col-md pr-0">
                              <mat-card (click)="selectType()">
                                <mat-card-content>
                                  test
                                </mat-card-content>
                              </mat-card>
                             </div>
                             <div class="col-md center" >
                              <mat-card (click)="selectType()">
                                <mat-card-content>
                                  test
                                </mat-card-content>
                              </mat-card>
                             </div>
                             <div class="col-md pl-0">
                              <mat-card (click)="selectType()">
                                <mat-card-content>
                                  test
                                </mat-card-content>
                              </mat-card>
                             </div>
                          </div>
                          <div class="row row_2">
                            <div class="col-md">
                              <mat-card (click)="selectType()">
                                <mat-card-content>
                                  test
                                </mat-card-content>
                              </mat-card>
                             </div>
                          </div>
                        </div> -->
          
            </mat-tab>
            <mat-tab label="Content" [disabled]="istabDisable">

              <mat-progress-bar mode="indeterminate" *ngIf="loadingBar"></mat-progress-bar>

              <div class="container" *ngIf="!loadingBar">
                <div class="card-body title">
                  <div class="heading" *ngIf="contentTabs == 'heading'">
             
                    <mat-card-content>
                   
                      <div class="header">
                        Heading
                      </div>
                      <!-- <form class="input-form"> -->
                          <div class="head-input">
                          <!-- <mat-form-field class="form-full-width" appearance="fill" >
                            <mat-label>Message</mat-label> -->
                            <input matInput type="text" class="input"  #message maxlength="150" [(ngModel)]="heading" placeholder="Slide with heading" (change)="updateContent('heading')">
                            <span class="textlength">{{ 150 - heading.length }}</span>
                            <!-- </mat-form-field> -->
                          </div>
                      
                        <div class="header">
                          Subheading
                        </div>
                        
                        <div class="head-input">

                          <textarea type="text" matInput #message maxlength="500"  [(ngModel)]="subheading" placeholder="Subheading"
                          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                          (change)="updateContent('heading')"> 
                        </textarea>
                        <span class="textlength">{{ 500 - subheading.length }}</span>

                      </div>

                      <div class="header">
                        Image
                      </div>
                        <mat-card  class="card_image">
                          <mat-card-content>
                            
                            <div class="open-image">
                                               
                          
                                    <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                      <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                      <p > 
                                        Click Here to select an image
                                        <small>Supported file types are jpg and png</small>
                                      </p>
                                    </div>
                            </div>
                         
                            <div class="image-holder"  *ngIf="image">
                              <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                              <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                              <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                            </div>
                           
                          </mat-card-content>
                        </mat-card>
      
                    </mat-card-content>
                  </div>
                </div>
                <div class="card-body title">
                  <div class="paragraph" *ngIf="contentTabs == 'paragraph'">
                    <mat-card-content>
                      <div class="header">
                        Heading
                      </div>
                      <div class="head-input">
                          <input matInput #message maxlength="150" [(ngModel)]="heading" placeholder="Slide with header"  (change)="updateContent('paragraph')">
                          <span class="textlength">{{ 150 - heading.length }}</span>

                        </div>  
                      
                        <div class="header">
                          Paragraph
                        </div>

                        <div class="paragraph-input">

                          
                        <textarea matInput #message maxlength="800"  [(ngModel)]="subheading" placeholder="Use this paragraph to explain something in detail."
                          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                          (change)="updateContent('paragraph')"> 
                        </textarea>
                        <span class="textlength">{{ 800 - subheading.length }}</span>

                       
                        </div>

                        <div class="header">
                          Image
                        </div>
                          <mat-card  class="card_image">
                            <mat-card-content>
                            
                              <div class="open-image">
                             
                                
                                      <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                        <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                        <p > 
                                          Click Here to select an image
                                          <small>Supported file types are jpg and png</small>
                                        </p>
                                      </div>
                              </div>
                           
                              <div class="image-holder"  *ngIf="image">
                                <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                              </div>
                             
                            </mat-card-content>
                          </mat-card>
                    </mat-card-content>
                  </div>
                </div>
                 

                  <div class="card-body title">
                    <div class="bullets" *ngIf="contentTabs == 'bullets'">
                      <mat-card-content>
                        <div class="header">
                          Heading
                        </div>
                          
                        <div class="head-input">

                            <input matInput #message maxlength="100" placeholder="Ask me anything" [(ngModel)]="heading" (change)="updateContent('bullets')">
                            <span class="textlength">{{ 100 - heading.length }}</span>

                          </div>  

                          <div class="header">
                           Bullets
                          </div>
                     
                          <mat-list *ngFor="let optionlist of optionLists; let i = index">
                              <mat-list-item >
                          

                             <div class="option-input">
                               <div class="option-holder">
                                <input matInput #message maxlength="70" placeholder="Bullet Here" [(ngModel)]="optionlist.choice_fld" (change)="updateOption(optionlist.id, contentTabs,$event)">
                              
                                <span class="textlength">{{ 70 - optionlist.choice_fld.length }}</span>
                               </div>
                              
                     
                              <!-- <button matSuffix mat-button (click)="removeOptions(optionlist.id,i)"  [disabled]="isDisabled"><mat-icon>highlight_off</mat-icon></button>
                               -->  
                               <div class="close-button my-auto"  (click)="removeOptions(optionlist.id,i)" >
                                <mat-icon>highlight_off</mat-icon>
                              </div>
                             </div>

                                 
                              </mat-list-item>
                          </mat-list> 
  
                            <button mat-raised-button [hidden]="optionLists.length >= 4" class="add btn" (click)="addOptions()"  [disabled]="isDisabled" matTooltip="Adds slide in presentation">
                              <mat-icon>add</mat-icon>
                              <strong>Add Another Option</strong> 
                            </button>
                      

                            <div class="header">
                              Image
                            </div>
                              <mat-card  class="card_image">
                                <mat-card-content>
                            
                                  <div class="open-image">
                                                     
                              
                                          <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                            <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                            <p > 
                                              Click Here to select an image
                                              <small>Supported file types are jpg and png</small>
                                            </p>
                                          </div>
                                  </div>
                               
                                  <div class="image-holder"  *ngIf="image">
                                    <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                    <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                    <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                                  </div>
                                </mat-card-content>
                              </mat-card>
                      </mat-card-content>
                    </div>
                  </div>
                  

                <div class="card-body title">
                  <div class="sa" *ngIf="contentTabs == 'quiz' || contentTabs == 'identification'" >
                    <mat-card-content>
                      <div class="header">
                        Your Question
                      </div>
                      <div class="head-input">
                          <input matInput #message maxlength="100" *ngIf="contentTabs == 'identification'" placeholder="Ask me anything" [(ngModel)]="heading"  (change)="updateContent('identification')">

                          <input matInput #message maxlength="100" *ngIf="contentTabs == 'quiz'"  placeholder="Ask me anything" [(ngModel)]="heading" (change)="updateContent('quiz')">
                          <span class="textlength">{{ 100 - heading.length }}</span>

                      </div>  
                        <div class="header">
                         <span *ngIf="contentTabs == 'quiz'"> Options</span>  
                         <span *ngIf="contentTabs == 'identification'">    Correct Answer</span>  

                 
                          <mat-chip-list
                          class="example-chip"
                          cdkDropList 
                          cdkDropListOrientation="horizontal">
                          <mat-chip class="example-box" cdkDrag>
                            <span>
                          {{ optionLists.length +' of 4'}}
                           </span>
                          </mat-chip>
                        </mat-chip-list>
                   
                    
                        </div>
                        <mat-list *ngFor="let optionlist of optionLists; let i = index">
                            <mat-list-item >

                              <div class="option-input ">
                                <mat-checkbox  class="check-box"  *ngIf="contentTabs == 'quiz'"   matTooltip="Mark option as correct answer" [(ngModel)]="optionlist.isCorrect_fld"  [disabled]="isDisabled" [checked]="optionlist.isCorrect_fld" (change)="isCorrect(optionlist.id, contentTabs, $event)" color="primary"></mat-checkbox>
                                <div class="option-holder">
                                  <input matInput #message maxlength="70" placeholder="Bullet Here" [(ngModel)]="optionlist.choice_fld" (change)="updateOption(optionlist.id, contentTabs,$event)">
                                  <span class="textlength">{{ 70 - optionlist.choice_fld.length }}</span>
                                </div>
                              <!-- <button matSuffix mat-button (click)="removeOptions(optionlist.id,i)"  [disabled]="isDisabled"> -->
                                <div class="close-button"  (click)="removeOptions(optionlist.id,i)" >
                                  <mat-icon>highlight_off</mat-icon>
                                </div>
              
                              <!-- </button> -->
                             </div>
                            </mat-list-item>
                        </mat-list> 

                        <button mat-raised-button class="add btn"  [hidden]="optionLists.length >= 4" (click)="addOptions()" [disabled]="isDisabled"  matTooltip="Adds slide in presentation">
                          <mat-icon>add</mat-icon>
                          <strong>Add Another Answer</strong> 
                        </button>
                    
                          <div class="header">
                            Image
                          </div>
                            <mat-card  class="card_image">
                              <mat-card-content>
                            
                                <div class="open-image">
                               
                                  
                                        <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                          <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                          <p > 
                                            Click Here to select an image
                                            <small>Supported file types are jpg and png</small>
                                          </p>
                                        </div>
                                </div>
                             
                                <div class="image-holder"  *ngIf="image">
                                  <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                  <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                  <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                                </div>
                              </mat-card-content>
                            </mat-card>

                   
                              <div class="extra">
                                <div class="item" >Extra</div>
                                <div class="d-flex justify-content-around">
                                  <div>
                                    <span class="item">Seconds to answer</span>    
    
                                    <div class="timer-input">
                                      <input matInput #message type="number"  *ngIf="contentTabs == 'identification'"  max="120" min="0" oninput="validity.valid||(value='');" [(ngModel)]="timer"  (change)="updateContent('identification')">

                                      <input matInput #message type="number"  *ngIf="contentTabs == 'quiz'"  max="120" min="0" oninput="validity.valid||(value='');" [(ngModel)]="timer"  (change)="updateContent('quiz')">
                  
                                    </div>  
                                  </div>
                                  <div  [hidden]="toggleExtrapoints">
                                    <span class="item">Set Points</span>    
  
                                    <div class="timer-input">

                                      <input matInput #message type="number" *ngIf="contentTabs == 'identification'"  max="30" min="0" oninput="validity.valid||(value='');" [(ngModel)]="points"  (change)="updateContent('identification')">

                                      <input matInput #message type="number"  *ngIf="contentTabs == 'quiz'" max="30" min="0" oninput="validity.valid||(value='');" [(ngModel)]="points"  (change)="updateContent('quiz')">
                  
                                    </div>  
                                  </div>
                                </div>
                            
                                  <mat-slide-toggle color="primary" *ngIf="contentTabs == 'identification'"
                                  class="check-box" [(ngModel)]="toggleExtrapoints" style="color: #808080;"  (change)="updateContent('identification')">
                                
                                  Extra points for fast answer
                                  </mat-slide-toggle>

                                  <mat-slide-toggle color="primary" *ngIf="contentTabs == 'quiz'"
                                  class="check-box" [(ngModel)]="toggleExtrapoints" style="color: #808080;"  (change)="updateContent('quiz')">
                                
                                  Extra points for fast answer
                                  </mat-slide-toggle>
                              </div>

                    </mat-card-content>
                  </div>
                </div>
                  
                  <div class="card-body title">
                    <div class="qa" *ngIf="contentTabs == 'qa'">
                      <mat-card-content>
                        <div class="header">
                          Your Question
                        </div>

                        <div class="paragraph-input">

                            <textarea matInput #message maxlength="500"  [(ngModel)]="heading" placeholder="Paragraph"
                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                            (change)="updateContent('qa')"> 
                          </textarea>
                          <span class="textlength">{{ 500 - heading.length }}</span>

                        </div>  
                      
                          <div class="header">
                            Image
                          </div>
                            <mat-card  class="card_image">
                              <mat-card-content>
                            
                                <div class="open-image">
                           
                                        <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                          <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                          <p > 
                                            Click Here to select an image
                                            <small>Supported file types are jpg and png</small>
                                          </p>
                                        </div>
                                </div>
                             
                                <div class="image-holder"  *ngIf="image">
                                  <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                  <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                  <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                                </div>
                              </mat-card-content>
                            </mat-card>
                      </mat-card-content>
                    </div>
                  </div>

                <div class="card-body title">
                  <div class="mc" *ngIf="contentTabs == 'poll'">
                    <mat-card-content>
                      <div class="header">
                        Your Question
                      </div>

                      <div class="head-input">

                        <input matInput #message maxlength="70" placeholder="Ask me anything" [(ngModel)]="heading"  (change)="updateContent('mc')">
                        <span class="textlength">{{ 70 - heading.length }}</span>

                      </div>  

                        <div class="header">
                         Options

                            <mat-chip-list
                            class="example-chip"
                            cdkDropList 
                            cdkDropListOrientation="horizontal">
                            <mat-chip class="example-box" cdkDrag>
                              <span>
                            {{ optionLists.length +' of 4'}}
                              </span>
                            </mat-chip>
                          </mat-chip-list>
                        </div>
                        <mat-list *ngFor="let optionlist of optionLists; let i = index">
                            <mat-list-item >
                              
                              <div class="option-input">
                                <div class="option-holder">
                                 <input matInput #message maxlength="70" placeholder="Bullet Here" [(ngModel)]="optionlist.choice_fld" (change)="updateOption(optionlist.id, contentTabs,$event)">
                               
                                 <span class="textlength">{{ 70 - optionlist.choice_fld.length }}</span>
                                </div>
                               
                      
                            
                                <button matSuffix mat-button [matMenuTriggerFor]="menu"  *ngIf="optionlist.image_fld" style="padding: 0;" >
                                  <img mat-card-image [src]="this._user.imageLink + optionlist.image_fld" alt="" style="height: 40px; width: 50px;" >
                                </button>

                                <mat-menu #menu="matMenu">
                                   <button matSuffix mat-menu-item  (click)="openCropper(optionlist.id)"  [disabled]="isDisabled"><mat-icon>image</mat-icon>Edit</button>
                                    <button matSuffix mat-menu-item (click)="removeOptionImage(optionlist.id)"  [disabled]="isDisabled"><mat-icon>delete_forever</mat-icon>Delete</button>
                                </mat-menu>

                    
                                <div class="close-button mr-3" *ngIf="!optionlist.image_fld" (click)="openCropper(optionlist.id)"  >
                                  <mat-icon>image</mat-icon>
                                </div>

                                <div class="close-button "  (click)="removeOptions(optionlist.id,i)" >
                                 <mat-icon>highlight_off</mat-icon>
                               </div>
                              </div>

                            </mat-list-item>
                        </mat-list> 
            
                          <button mat-raised-button class="add btn"  [hidden]="optionLists.length >= 4" (click)="addOptions()" [disabled]="isDisabled"  matTooltip="Adds slide in presentation">
                            <mat-icon>add</mat-icon>
                            <strong>Add Another Option</strong> 
                          </button>
                    
                          <div class="header">
                            Image
                          </div>
                            <mat-card  class="card_image">
                              <mat-card-content>
                            
                                <div class="open-image">
                                
                            
                                        <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                          <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                          <p > 
                                            Click Here to select an image
                                            <small>Supported file types are jpg and png</small>
                                          </p>
                                        </div>
                                </div>
                             
                                <div class="image-holder"  *ngIf="image">
                                  <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                  <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                  <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                                </div>
                              </mat-card-content>
                            </mat-card>


                            <div class="header">
                              Result layout
                            </div>
                            <div class="row ">
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <mat-card>
                                  
                                </mat-card>
                              </div>
                            </div>
                    </mat-card-content>
                  </div>
                </div>

                <div class="card-body title">
                  <div class="mc" *ngIf="contentTabs == 'mc'">
                    <mat-card-content>
                      <div class="header">
                        Your Question
                      </div>

                      <div class="head-input">

                        <input matInput #message maxlength="70" placeholder="Ask me anything" [(ngModel)]="heading"  (change)="updateContent('mc')">
                        <span class="textlength">{{ 70 - heading.length }}</span>

                      </div>  

                        <div class="header">
                         Options

                            <mat-chip-list
                            class="example-chip"
                            cdkDropList 
                            cdkDropListOrientation="horizontal">
                            <mat-chip class="example-box" cdkDrag>
                              <span>
                            {{ optionLists.length +' of 4'}}
                              </span>
                            </mat-chip>
                          </mat-chip-list>
                        </div>
                        <mat-list *ngFor="let optionlist of optionLists; let i = index">
                            <mat-list-item >
                              
                              <div class="option-input">
                                <div class="option-holder">
                                 <input matInput #message maxlength="70" placeholder="Bullet Here" [(ngModel)]="optionlist.choice_fld" (change)="updateOption(optionlist.id, contentTabs,$event)">
                               
                                 <span class="textlength">{{ 70 - optionlist.choice_fld.length }}</span>
                                </div>
                               
                      
                            
                                <button matSuffix mat-button [matMenuTriggerFor]="menu"  *ngIf="optionlist.image_fld" style="padding: 0;" >
                                  <img mat-card-image [src]="this._user.imageLink + optionlist.image_fld" alt="" style="height: 40px; width: 50px;" >
                                </button>

                                <mat-menu #menu="matMenu">
                                   <button matSuffix mat-menu-item  (click)="openCropper(optionlist.id)"  [disabled]="isDisabled"><mat-icon>image</mat-icon>Edit</button>
                                    <button matSuffix mat-menu-item (click)="removeOptionImage(optionlist.id)"  [disabled]="isDisabled"><mat-icon>delete_forever</mat-icon>Delete</button>
                                </mat-menu>

                    
                                <div class="close-button mr-3" *ngIf="!optionlist.image_fld" (click)="openCropper(optionlist.id)"  >
                                  <mat-icon>image</mat-icon>
                                </div>

                                <div class="close-button "  (click)="removeOptions(optionlist.id,i)" >
                                 <mat-icon>highlight_off</mat-icon>
                               </div>
                              </div>

                              <!-- <div class="option-input">

                                  <div class="option-holder">
                                    <input matInput #message maxlength="70" placeholder="Bullet Here" [(ngModel)]="optionlist.choice_fld"   (change)="updateOption(optionlist.id, contentTabs,$event)">
                            
                                    <span class="textlength">{{ 70 - optionlist.choice_fld.length }}</span>
                                  </div>
                                
                                  
                                  <div > -->
                                    <!-- <input hidden type="file" id="optionUpload" class="form-control-file" (change)="fileChanged($event, '1')" aria-describedby="fileHelpId" accept="image/png, image/jpeg"> -->
                                    
              
                                    

                                    <!-- Delete the Row Option -->
                                    <!-- <div class="close-button my-auto"  (click)="removeOptions(optionlist.id,i)" >
                                      <mat-icon>highlight_off</mat-icon>
                                    </div>                                 
                                  
                                  </div> -->

                      
                               <!-- </div> -->
                            </mat-list-item>
                        </mat-list> 
            
                          <button mat-raised-button class="add btn"  [hidden]="optionLists.length >= 4" (click)="addOptions()" [disabled]="isDisabled"  matTooltip="Adds slide in presentation">
                            <mat-icon>add</mat-icon>
                            <strong>Add Another Option</strong> 
                          </button>
                    
                          <div class="header">
                            Image
                          </div>
                            <mat-card  class="card_image">
                              <mat-card-content>
                            
                                <div class="open-image">
                                
                            
                                        <div class="open-image" *ngIf="!(image || selectedImage)" (click)="openCropper('')">
                                          <img mat-card-image src="../../../../assets//status/uploadimage.svg" alt="Empty"  class="image_link" >
                                          <p > 
                                            Click Here to select an image
                                            <small>Supported file types are jpg and png</small>
                                          </p>
                                        </div>
                                </div>
                             
                                <div class="image-holder"  *ngIf="image">
                                  <img mat-card-image [src]="this._user.imageLink+image" alt="" class="image_link" >
                                  <button *ngIf="image" mat-raised-button class="button-submit" (click)="openCropper('')"><mat-icon>edit</mat-icon></button>
                                  <button *ngIf="image" mat-raised-button class="button-remove" (click)="removeImage()"><mat-icon>block</mat-icon></button>
                                </div>
                              </mat-card-content>
                            </mat-card>


                            <div class="header">
                              Result layout
                            </div>
                            <div class="row ">
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <mat-card>
                                  
                                </mat-card>
                              </div>
                            </div>
                    </mat-card-content>
                  </div>
                </div>
              </div>

            </mat-tab>
            <mat-tab label="Settings">
              <div class="container">
                  <mat-card-content>
                    <mat-accordion class="example-headers-align" multi>
                      <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Settings
                          </mat-panel-title>
                          <mat-panel-description>
                            Configure Presentation
                            <mat-icon>settings</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                  
                        <div class="settings">
                          <span>
                            Settings
                          </span>
                          <p>
                            Configure overall experience of presentation
                          </p>
                        </div>

                         <mat-divider></mat-divider>
                         
                         <div class="top-header">
                          <p>
                            NAVIGATION
                          </p>
                        </div>
                        <div class="low-header">
                         <p>Presentation pace</p> 
                          
                          <div class="low-header-card">
                            <mat-card (click)=" this.updatePace('0')"  [ngClass]="{'highlight': isPaceTo == 0}" >  
                              <mat-card-content>
                                Presenters Pace
                              </mat-card-content>
                            </mat-card>

                            <mat-card (click)=" this.updatePace('1')" [ngClass]="{'highlight': isPaceTo == 1}" > 
                              <mat-card-content>
                                Students Pace
                              </mat-card-content>
                            </mat-card>
                          </div>
                         </div>
     

                         <mat-divider></mat-divider>

                         <div class="top-header">
                          <p>
                            Language
                          </p>
                        </div>
                      
                        <div class="low-header">
                        <p>Presentation Language</p>

                         <div>
                          <mat-form-field appearance="fill" class="choose-language"> 
                            <mat-label>Choose Language</mat-label>
                            <select matNativeControl required>
                              <option value="volvo">English</option>
                              <option value="saab">Saab</option>
                              <option value="mercedes">Mercedes</option>
                              <option value="audi">Audi</option>
                            </select>
                          </mat-form-field>
                         </div>
                        </div>

                        <div class="header">
                          Language
                         </div>
                        <mat-slide-toggle color="primary"
                        class="check-box" [(ngModel)]="toggleLanguagechecked">
                        Always use English
                         </mat-slide-toggle >
                      </mat-expansion-panel>

                      <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                           Customize
                          </mat-panel-title>
                          <mat-panel-description>
                            Customize Slide Setup
                            <mat-icon>list</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                          <mat-button-toggle value="bold">Bold</mat-button-toggle>
                          <mat-button-toggle value="italic">Italic</mat-button-toggle>
                          <mat-button-toggle value="underline">Underline</mat-button-toggle>
                        </mat-button-toggle-group>
                    
                      </mat-expansion-panel> -->

                      <mat-expansion-panel (click)="checkViewers()" style="padding: 0;"> 
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Accessed
                          </mat-panel-title>
                          <mat-panel-description>
                            View who accessed
                            <mat-icon [matBadge]="this.viewers.length" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false">visibility</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <mat-divider></mat-divider>
<!-- 
                        <mat-nav-list>
                          <mat-list-item *ngFor="let view of viewers" style="font-size: .2rem;">
                            <img matListAvatar [src]="this._user.imageLink+view.image_fld" alt="...">
                             <p  matLine >{{ view.emailadd_fld }}</p>
                          </mat-list-item>
                        </mat-nav-list> -->
                        
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0" style="width: 100%;" >
                          <!-- Name Column -->
                          <ng-container matColumnDef="image_fld">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                              <img mat-card-avatar [src]="this._user.imageLink+element.image_fld" alt="..." style="width: 20px; height: 20px;"> </td>
                          </ng-container>
                        
                          <!-- Weight Column -->
                          <ng-container matColumnDef="emailadd_fld">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.emailadd_fld}} </td>
                          </ng-container>
                        
                          <!-- Symbol Column -->
                          <!-- <ng-container matColumnDef="updatedOn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                            <td mat-cell *matCellDef="let element"> {{element.updatedOn | date:'MMM d, y, h:mm a'}} </td>
                          </ng-container>
                         -->
                          <!-- <ng-container matColumnDef="createdOn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'MMM d, y, h:mm a'}} </td>
                          </ng-container> -->
          
                
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr class="example-element-row" mat-row *matRowDef="let element; let i = index; columns: displayedColumns;"></tr>
                        </table>
                      </mat-expansion-panel>
                    </mat-accordion>
                 
                  </mat-card-content>
        
              </div>
            </mat-tab>
  </mat-tab-group>
<!-- {{tabRef.selectedIndex }} -->
</mat-card>


