@import url("../../home//main//main.component.scss");

.header_title{
    // display: flex;
    // flex-flow:nowrap;
    // justify-content: space-between;
    background-color: var(--clr-secondary);
}
.wrapper{
    margin: 1rem 0rem 0 0rem;
}

span{
      
    font-size: 1rem;
    font-weight: 600;
}
.slide_title{
    // display: flex;
    // align-content: flex-start;
    // font-weight: 600;
  
    color: white;
}

.slide_function{
    // display: flex;
    // align-content: flex-end;
    .spinner{
        margin: auto;
        .mat-spinner{
            margin-right: 1rem;
        }
        span{
            color: #cecece;
            margin-right: 1rem;
            font-weight: lighter;

        }
    }
    .play{
        background-color: rgb(50, 63, 85); 
        color: rgb(255, 255, 255);


        &:hover{
            background-color: #334e5c; 
        }
    }
    .theme_code{
        background-color: transparent; 
        color: rgb(255, 255, 255);


        &:hover{
            background-color: #0b2164; 
        }
    }
    .play-image-icon{
        margin-right: .2rem;
    }

}


input{
    transition: .5s;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
}
input[type="text"]:focus{
    outline: none;
    transition: 1s;
    padding-left: 1rem;    
    border: 1px solid var(--clr-lightgray);
    box-shadow: 0px 0px 5px #9B9B9B;
    }
    
    input[type="text"]:hover{
    padding-left: 1rem;
    border: 1px solid var(--clr-gray);
    }
    
    // input[type="text"]:focus:hover{
    // outline: none;
    // border: 1px solid var(--clr-light);
    // box-shadow: 0px 0px 5px #9B9B9B;
    // }  
    
    @media  screen and (max-width: 1366px) {
        input{
            width: 400px;   
        }
    }