@import url("../../home//main//main.component.scss");

.header_title{
    top: 0;
    z-index: 90;
    background-color: var(--clr-darkgreen);
}
.wrapper{
    margin: 1rem 0rem 0 0rem;
}

mat-card{
    padding: 0;
    border-radius: 0;
    mat-card-content{
        padding: .5rem;


        span{
      
            font-size: 1rem;
            font-weight: 600;
        }
        .slide_title a{
            padding-left: .5rem;
            color:var(--clr-white);
        }
    }
}


:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: var(--clr-success);
}


.slide_function{
    // display: flex;
    // align-content: flex-end;
    .spinner{
        margin: auto;
        .mat-spinner{
            margin-right: 1rem;
        }
        span{
            color: var(--clr-lightgray);
            margin-right: 1rem;
            font-weight: lighter;

        }
    }
    .play{      
        transition: .3s;
        color: var(--clr-white);
        background-color: var(--clr-darkbutton);


        &:hover{
            transition: .3s;
            color: var(--clr-orange);
            background-color: var(--clr-dbgreen); 
        }
    }
    .theme_code{
        margin-right: .5rem;
        color: var(--clr-white);
        // background-color: var(--clr-darkgreen); 


        &:hover{
            transition: .3s;
            color: var(--clr-fontgreen); 
            background-color: var(--clr-lightfontgreen); 

        }
    }
    .play-image-icon{
        margin-right: .2rem;
    }

}


input{
    transition: .5s;
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
}
input[type="text"]:focus{
    outline: none;
    width: 500px;
    padding-left: 1rem;    
    border: 1px solid var(--clr-lightgray);
    box-shadow: 0px 0px 5px var(--clr-lightgray);
    }
    
    input[type="text"]:hover{
    padding-left: 1rem;
    border: 1px solid var(--clr-gray);
    }
    
    // input[type="text"]:focus:hover{
    // outline: none;
    // border: 1px solid var(--clr-light);
    // box-shadow: 0px 0px 5px #9B9B9B;
    // }  
    
    @media  screen and (max-width: 1366px) {
        input[type="text"]:focus{
            outline: none;
            width: 300px;
            padding-left: 1rem;    
            border: 1px solid var(--clr-lightgray);
            box-shadow: 0px 0px 5px var(--clr-lightgray);
        }

        .header_title{
            position: relative;
            top: 0;
            z-index: 90;
            background-color: var(--clr-darkgreen);
        }
    }