:host{
    height: 100%;
    display: flex;
    flex-direction: column;
 
}
.matgroup{
    padding: 4rem;
    ::ng-deep .mat-tab-label-active {
        background-color: var(--clr-dark);
      }
    
}

.mat-toolbar{
    top: 0 !important;
    z-index: 100 !important;
    position: sticky !important;
    color: var(--font-white);
    background-color: var(--clr-primary);
}

.main-card{
    z-index: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    border-radius: 15px !important; 
  

    .matheader{
        display: flex;
        padding: 1.5rem;
        border-radius: 15px !important; 
        justify-content: space-between;
        background-image: radial-gradient(circle at 67% 33%,hsla(0,0%,65.9%,.04) 0,hsla(0,0%,65.9%,.04) 50%,rgba(10,10,10,.04) 0,rgba(10,10,10,.04) 100%),radial-gradient(circle at 33% 65%,hsla(0,0%,97.3%,.04) 0,hsla(0,0%,97.3%,.04) 50%,hsla(0,0%,89.4%,.04) 0,hsla(0,0%,89.4%,.04) 100%),radial-gradient(circle at 92% 79%,hsla(0,0%,59.6%,.04) 0,hsla(0,0%,59.6%,.04) 50%,rgba(28,28,28,.04) 0,rgba(28,28,28,.04) 100%),radial-gradient(circle at 91% 13%,rgba(41,41,41,.04) 0,rgba(41,41,41,.04) 50%,hsla(0,0%,83.9%,.04) 0,hsla(0,0%,83.9%,.04) 100%),linear-gradient(90deg,var(--clr-primary),var(--btn-save));

        .cardAnalyticholder{
        
            color:var(--clr-input);
            mat-card-title{
                text-align: center;
                word-break: keep-all;
            }
            
            .btn-holder{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50px !important;
                button{
                  width: 200px;
                  font-weight: 600;
                  letter-spacing: 1px;
                  color: var(--font-white);
                  background-color: var(--btn-save) !important;
                }
              
              }
            .subtitle{
                font-size: .9rem;
                color: var(--font-label);
                display: flex;
                align-items: center;
                mat-icon{
                    margin-right:  5px;
                }
            }
        }

        .studentno{
            .button-fabs{
                display: flex;
                margin-bottom: 1rem;
                justify-content: space-around;
                button.mat-fab{
                    color: var(--clr-dark) !important;
                    background-color: var(--clr-input) !important;
                }
            }
     
            p{
                font-weight: 600;
                margin-top: .5rem;
                color: var(--background-secondary);
            }
        }
 
    }
  
}






.students-card{
    padding: 1rem !important;
}
.result{
    border-radius: 15px !important; 
    min-height: 50vh !important;
    background-color:var(--clr-input);

    .mat-tab-label {
        padding: .5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        font-weight: 700;
    }
    
    /* Styles for the ink bar */
    .mat-ink-bar {
        background-color: green;
    }
    
}
.mat-column-right_fld{
    .email-header{
        margin-left: 1rem !important;

    }
}
    .mat-column-email_fld{
        letter-spacing: .5px;
        color: var(--font-white);
        background-color: var(--clr-darkblue);
        .name-header {
            transition: .5s;
            font-weight: 600;
            overflow: hidden;
            margin-left: 1rem;
            white-space: nowrap !important; 
            text-overflow: ellipsis !important; 
       
        }
    }

   .mat-column-name_fld{
        letter-spacing: .5px;
        color: var(--font-white);
        background-color: var(--clr-darkblue);
        .name-header {
            transition: .5s;
            font-weight: 600;
            overflow: hidden;
            margin-left: 1rem;
            white-space: nowrap !important; 
            text-overflow: ellipsis !important; 
       
        }
    }

.mat-table{
  background-color:transparent!important;  
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 15px !important; 

}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}
th, td{
    cursor: pointer;
    text-align: left;
    color: var(--background-default);
}
td{
    margin: auto;
    padding: 1rem;
}

.mat-header-cell {
    transition: .5s;
    font-weight: 600;
    color: var(--font-white);
    // color: var(--font-title); 
    // background:var(--background-secondary);
    background-color:var(--clr-darkblue);
    tr.example-element-row:not(.example-expanded-row):active,:hover {
        transition: .5s;
        color: var(--background-default); 
    }
}

tr.example-element-row:not(.example-expanded-row):hover  {
    transition: .5s;
    background: var(--background-default);
}

.barchart{
    padding: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
    .matgroup{
        padding: 0rem;
        border-radius: 0px !important; 
    }
    .matheader,.main-card{
        border-radius: 0px !important; 

    }
    .matheader{
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
        justify-content: space-between;
        .cardAnalyticholder{
            text-align: center;
       
            .btn-holder{
                button{
                  width: 100% !important;
                }
              }
        }

        .studentno  {
            .button-fabs{
                display: flex;
                margin-bottom: 1rem;
                justify-content: space-around;
                button.mat-fab{
                    color: var(--clr-dark) !important;
                    background-color: var(--clr-input) !important;
                }
            }
     
            p{
                font-weight: 600;
                margin-top: .5rem;
                color: var(--background-secondary);
            }
        }
    }
}

