
.mat-toolbar{
    color: var(--font-white);
    background-color: var(--clr-primary);
}

.main-card{
    padding: 0 !important;
    height: 100% !important;
    border-radius: 15px !important; 
    .btn-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px !important;
        button{
          width: 40%;
          font-weight: 600;
          letter-spacing: 1px;
          color: var(--font-white);
          background-color: var(--btn-save) !important;
        }
      
      }
    .cardAnalyticholder{
        border-radius: 15px !important; 
        color:var(--clr-input);
        padding: 1.5rem;
        background-color:var(--clr-instructor-green) !important;
      }
    .subtitle{
        font-size: .9rem;
        color: var(--font-label);
        display: flex;
        align-items: center;
        mat-icon{
            margin-right:  5px;
        }
    }
}



.studentno{
    button.mat-fab{
        color: var(--clr-dark) !important;
        background-color: var(--clr-input) !important;
    }
    p{
        font-weight: 600;
        margin-top: .5rem;
        color: var(--background-secondary);
    }
}


.students-card{
    padding: 1rem !important;
}
.result{
    border-radius: 15px !important; 
    min-height: 50vh !important;
    background-color:var(--clr-input);

    .mat-tab-label {
        padding: .5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        font-weight: 700;
    }
    
    /* Styles for the ink bar */
    .mat-ink-bar {
        background-color: green;
    }
    
}
.mat-column-right_fld{
    .email-header{
        margin-left: 1rem !important;

    }
}
    .mat-column-email_fld{
        letter-spacing: .5px;
        color: var(--font-white);
        background-color: var(--clr-darkblue);
        .name-header {
            transition: .5s;
            font-weight: 600;
            overflow: hidden;
            margin-left: 1rem;
            white-space: nowrap !important; 
            text-overflow: ellipsis !important; 
       
        }
    }

   .mat-column-name_fld{
        letter-spacing: .5px;
        color: var(--font-white);
        background-color: var(--clr-darkblue);
        .name-header {
            transition: .5s;
            font-weight: 600;
            overflow: hidden;
            margin-left: 1rem;
            white-space: nowrap !important; 
            text-overflow: ellipsis !important; 
       
        }
    }

.mat-table{
  background-color:transparent!important;  
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 15px !important; 

}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}
th, td{
    cursor: pointer;
    text-align: left;
    color: var(--background-default);
}
td{
    margin: auto;
    padding: 1rem;
}

.mat-header-cell {
    transition: .5s;
    font-weight: 600;
    color: var(--font-white);
    // color: var(--font-title); 
    // background:var(--background-secondary);
    background-color:var(--clr-darkblue);
    tr.example-element-row:not(.example-expanded-row):active,:hover {
        transition: .5s;
        color: var(--background-default); 
    }
}

tr.example-element-row:not(.example-expanded-row):hover  {
    transition: .5s;
    background: var(--background-default);
}

.barchart{
    padding: 1rem;
}