// 334e5c, 1bbb94, 3366ff, ff6633

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.background{
    height: 100%;
    background-color: var(--clr-lightfontgreen);
}
.foreground{
    position: relative;
    height: 100%;
    background-color: var(--clr-fontgreen);;
    border-radius: 0 0 150% 0;
    margin: 0 auto;
}

.wrapper_body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; 
}

.header{
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
}
.forgotpassword{
    color: white;
    text-align: left;
    margin-bottom: 2rem;
}

.logo{
    max-width: 100%;
}

h3{
    margin-top: 1em;
    font-weight: 600;
}

.sec1{
    width: 60%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .login-button{
      width: 100%;
    //   border-radius: 25px;
  }
