.sidenav-container {
  background-color: #334e5c;
  height: 100%;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

:host {
  .mat-icon {
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.mat-divider {
  margin: 1rem 1rem 2rem 1rem;
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item {
  font-size: .9rem;
  height: 80px !important;
  color: #ffffff !important;
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      // margin: 0 8px;
      border-radius: 5px;
      &:hover {
        background-color: rgb(155, 172, 204) !important;
      }
    }
  }
}

.active {
  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #2e2e2e !important;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}

// .mat-subheader {
//   color: #818cf8;
//   font-size: 1rem;
//   font-weight: 100;
//   letter-spacing: 1px;
// }

.logo {
text-align: center;
padding: .5rem .5rem;
img {     
  border-radius: 50%;
  border: 5px solid rgb(124, 124, 124);    
  width: 150px;
}
}

.fullname{
text-align: center;
color: #fff;
padding: 0 .2em;
margin-top: .3em;
}

p{
margin: 0;
font-weight: 600;
font-size: .8rem;
color: white;

}
small{
color: rgb(155, 172, 204);
font-size: .8rem;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
:host {
  .mat-icon {
    margin-right: .6rem;
    vertical-align: middle;
  }
}

.mat-divider {
  margin: .5rem 1rem 1rem 1rem;
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  font-size: .7rem;
  height: 80px !important;
  color: #ffffff !important;
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      // margin: 0 8px;
      border-radius: 5px;
      &:hover {
        background-color: rgb(155, 172, 204) !important;
      }
    }
  }
}
.logo {
  text-align: center;
  padding: .5rem .5rem;
  img {
    width: 100px;
  }
}
}