.dialog-header{
  margin: 0;
  padding: 0;
  
  .addstudents-header{
    h1 {
      margin-left: 1rem;
      font-weight: lighter;
      color: var(--font-title);
      font-size: var(--font-large);
      }
    mat-icon{
      font-size: 30px;

    }
  }

}

mat-divider{
  margin-bottom: 20px;

  
  // padding-bottom: 1rem;
  // border-color: var(--clr-instructor-green);
}
.btn-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px !important;
  button{
    width: 40%;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--clr-white);
    background-color: var(--btn-primary) !important;
  }

}