<!-- <div class="dialog-header d-flex justify-content-between">

  

    <button type="button" class="btn-close" mat-dialog-close><mat-icon>close</mat-icon></button>
</div> -->

    <div class="dialog-header d-flex justify-content-between" mat-dialog-title>

      <div class="addstudents-header d-flex">
        <mat-icon color="primary">dashboard</mat-icon>
        <h1 mat-dialog-title>Share with students</h1>
      </div>

   

            <div mat-dialog-close class="close-button">
              <mat-icon>highlight_off</mat-icon>
          </div>
    </div>  

    <mat-divider></mat-divider>
    <mat-dialog-content class="mat-typography">

      <mat-stepper labelPosition="bottom" #stepper *ngIf="isAdd">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" ngNativeValidate>
            <ng-template matStepLabel>Class</ng-template>

            <mat-form-field appearance="fill" >
                <mat-label>Select Class</mat-label>
                <mat-select (selectionChange)="selectClass($event.value)" formControlName="class_id"  required>
                    <mat-option  *ngFor="let class of classes" [value]="class.id" class="studentclassoption" >
                
                        <h4 >{{class.subject_description_fld}}</h4>
                        <p >{{class.class_code_fld}} {{class.subject_code_fld}}</p>

                    </mat-option>
                </mat-select>
              </mat-form-field>

            <div>
                <div class="btn-holder">

                    <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
                </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" >
          <form [formGroup]="secondFormGroup" ngNativeValidate>
            <ng-template matStepLabel>Students</ng-template>

            <mat-form-field appearance="fill">
              <mat-label>Select Students</mat-label>
              <mat-select (selectionChange)="change($event.value)" formControlName="student_id" required multiple>
                <mat-option *ngIf="!students.length">No Data</mat-option>
                <mat-option #allSelected (click)="toggleAllSelection()" [value]="0" *ngIf="students.length">All</mat-option>
                  <mat-option  *ngFor="let student of students" [value]="student.accountno_fld">{{student.lname_fld}} {{student.fname_fld}} {{student.mname_fld}}</mat-option>
              </mat-select>
            </mat-form-field>
            

            <div>
                <div class="btn-holder">
                    <button mat-button matStepperPrevious>Back</button>


                    <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
                </div>
          
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <div class="btn-holder">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="addStudents()" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid">Submit</button>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </div>
        </mat-step>
      </mat-stepper>


       <table mat-table [dataSource]="dataSource"  *ngIf="!isAdd" matSort>
  
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    
                    <!-- # Column -->
                    <ng-container matColumnDef="#" class="mr-2">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header> # </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>   
                          
                    <ng-container matColumnDef="class">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Class </th>
                      <td mat-cell *matCellDef="let element"> {{element.subject_description_fld}}</td>
                    </ng-container>

                    <ng-container matColumnDef="program">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Program </th>
                      <td mat-cell *matCellDef="let element"> {{element.program_fld}}</td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="name" >
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Student Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.fname_fld}} {{element.mname_fld}} {{element.lname_fld}} </td>
                    </ng-container>

                    <ng-container matColumnDef="emailadd">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Email Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.emailadd_fld}}  </td>
                    </ng-container>


                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        <button  mat-menu-item color="primary" class="action"  matTooltip="Remove student from the list" (click)="removeStudent(element.id,element.accountno_fld,i)" >
                          <mat-icon>delete</mat-icon>
                        </button>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

    </mat-dialog-content>
