.dialog-header{
    width: 500px;
    margin: 0;
    padding: 0;
    h1 {
    color: var( --clr-instructor-green);
    font-weight: 600;
    font-size: 1.5rem;
    
    }
}

mat-divider{
    width: 100%;
    // padding-bottom: 1rem;
    // border-color: var(--clr-instructor-green);
}

.btn-close {
    height: 23px;
    width: 23px;
    border: none;
    color: var(--clr-dark);
    background-color: transparent;
    mat-icon{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: var(--font-label);

    }
}

.mat-dialog-content {
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}
  



.success{
    color: var(--clr-white);
    background-color: var(--clr-warn);

}
.warn{
    color: var(--clr-fontgreen);
    border-color:1px var(--clr-fontgreen);
}