<div class="dialog-header d-flex justify-content-between">
    <h1 mat-dialog-title>Your responses</h1>

    <button type="button" class="btn-close" mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content class="mat-typography">

   


    <div mat-dialog-content>
        
            <mat-list role="list" *ngFor="let response of responses">
                <mat-list-item role="listitem" [ngClass]="{'highlight':checkIfCardIsSelected(response.isanswered_fld)}" >
                    <h1 mat-line>{{response.response_fld}}</h1>
                    <mat-chip-list mat-line 
                    class="example-chip"
                    cdkDropList 
                    cdkDropListOrientation="horizontal">
                    <mat-chip mat-line class="example-box" cdkDrag (click)="markAsAnswered(response.id, response.isanswered_fld)">
                      <span>
                        Mark as Read
                      </span>
                    </mat-chip>
                  </mat-chip-list>
            
                    <!-- <small mat-line>{{response.createdOn | date:'medium'}}</small> -->
                </mat-list-item>
           
              </mat-list>
        
    </div>
</mat-dialog-content>