<div class="dialog-header d-flex justify-content-between">
    <h1 mat-dialog-title>Your responses</h1>

    <button type="button" class="btn-close" mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content class="mat-typography">

   


    <div mat-dialog-content>
        <div class="row gx-5">
        
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        
        </div>
    </div>
</mat-dialog-content>