// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-portal-primary:  mat.define-palette(mat.$green-palette, A400);
$admin-portal-accent: mat.define-palette(mat.$green-palette, A300, A100, A400);

// The warn palette is optional (defaults to red).
$admin-portal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-portal-theme: mat.define-light-theme((
  color: (
    primary: $admin-portal-primary,
    accent: $admin-portal-accent,
    warn: $admin-portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-portal-theme);

:root {
    // --clr-primary: #0166B3;
    // --clr-secondary: #255cff;
    // --clr-tertiary: #1A2B81;
    // --clr-light: #9BACCC;
    // --clr-cardlist: #0a8dff;

    // --clr-gray: #c9c7c7;
    // --clr-lightgray: #f5f4f4;

    // --clr-dark: #313a3e;

    // --clr-button: #3366ff;
    // --clr-success: #08f4ad;
    // --clr-warn: #ff3333;

    // --clr-third: #334e5c;

    // --clr-orange: #f3541f;
    // --clr-white: rgb(255, 255, 255);
    // --clr-lightgreen: #edffff;
    // --clr-darkgreen: #1da286;
    // --clr-newgreen: #2fd3ae;
    // --clr-headgreen: #0fac8a;
    // --clr-dbgreen: #2ed4ae;

    // // Fonts
    // --clr-fontgreen: #16a785;
    // --clr-lightfontgreen: #ebffff;

    // --clr-darkbutton: #0ca080;

    // --clr-gradient: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);


  // Font size
  --font-small: .8rem;
  --font-normal: 1rem;
  --font-medium: 1.6rem;
  --font-large: 1.8rem;
    //Login, Sidenav, Headers BG
--clr-primary: #00a783;

//Mat divider
--clr-divider: #c2c2c2;
//Profile Image Border
--clr-secondary: #1c886f;

//Profile Image Secondary Border
--clr-light: #32e3ba;
--clr-white: #ffffff;

//BG For Inputs
--clr-input: #fff;

//Background shade
--background-default: #f5f5f5;
--background-secondary: #ebffff;

//Icons
--clr-students-orange: #FF6633;
--clr-instructor-green: #1da286;

//Fonts
--font-title: #1fad8f;
--font-black: #212b29;

--font-light: #ecffff;

//For rightnav tab groups
--font-label: #f5f4f4;

//Buttons
--btn-primary: #0ca080;
--btn-save: #2ecc71;
--btn-secondary: #f3541f;

//Btn:hovers (Optional)
--clr-hvr-btn: #2ed4ae;

//Pop ups
--clr-warn: red;
--clr-dark: #313a3e;
--clr-success: #08f4ad;
}

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
* { 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
   

    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


    .search-input {
      display: flex;
      border-radius: 5px;
      border: 2px solid var(--clr-gray);
      justify-content: flex-start;
      background-color: var(--clr-lightgray);
      input{
          padding-left: 10px;
          color: var(--clr-dark);
      }

      button{
        background-color: var(--clr-darkbutton);
      }
  }
  
  ::ng-deep.mat-snack-bar-container {
    // background: var(--clr-dark) !important;
  }
  ::ng-deep .mat-simple-snackbar {
    justify-content: center!important;
    color: var(--clr-lightfontgreen) !important;
    font-family: 'Quattrocento Sans';
  }

  .mat-simple-snackbar {
    font-family: 'Quattrocento Sans';
    justify-content: center!important;
    color: var(--clr-lightfontgreen) !important;
  }
  
  .snackbar-error {
    background-color: red;
  }
  
  .snackbar-success {
    background: var(--clr-dark) !important;
  }
  
  .snackbar-info {
    color: var(--clr-lightfontgreen) !important;
  }