.mat-card,.mat-tab-group{
    // border-radius: 25px;
    padding: 0 !important;
    // background-color: var(--clr-darkgreen);
}
.wrapper{

    margin: 2rem 2rem 0 2rem;

    .header>h1{
        border-left: 5px solid var(--clr-fontgreen);
        font-size: 1.5rem;
        color: var(--clr-third);
        font-weight: 600;
    }

    mat-divider{
        width: 15%;
        border-radius: 5px;
        border-top-width: 5px;
        border-color: var(--clr-fontgreen);
    }
  

    .search{
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-direction: row;
        justify-content: space-between;

        button{
            color: var(--clr-white);
            background-color: var(--clr-darkbutton);
            span{
                font-weight: lighter;
            }

            &:hover{
                transition: .5s;
                background-color: var(--clr-dbgreen);
            }
        }

        .search-input {
            display: flex;
            border-radius: 5px;
            border: 2px solid var(--clr-gray);
            justify-content: flex-start;
            background-color: var(--clr-lightgray);
            input{
                padding-left: 10px;
            }
        }
    }

    .show-type{
        margin-top: 1rem;
        ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
        ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

        ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75);
            width: 133.33333%;
        }
    }

    ::ng-deep.mat-tab-label,.mat-tab-label-active{
        border-radius: 25px !important;
        font-weight: 600;
        color:var(--clr-dark);   
    }
    ::ng-deep.mat-tab-label-active{
        background-color: var(--clr-lightfontgreen);
    }
    .mat-tab-group{

        height: 100% !important;
    }

    th.mat-sort-header-sorted {
        position: sticky;
        color: var(--clr-dark);
    }

    
    table{
        width: 100%;
        margin: auto;
        table-layout: fixed;

        .Name_header{
            width: 400px !important;

        }
    }

    .mat-column-sName_fld{
        color: var(--clr-dark);
        .name-header {
            transition: .5s;
            
            overflow: hidden;
            margin-left: 1rem;
            white-space: nowrap !important; 
            text-overflow: ellipsis !important; 
            &:hover{
                transition: .5s;
                color: var(--clr-fontgreen);
                text-shadow: 0 0 4px 2px var(--clr-fontgreen);
            }

            span{
                font-size: .8rem;
                color: var(--clr-fontgreen);
            }
       
        }
        mat-icon{
            transition: .5s;
            font-size: 2rem;
            &:hover{
                transition: .5s;
                color: var(--clr-orange);
            }
        }
    }
  
    th, td{
        cursor: pointer;
        font-size: .9rem;
        text-align: left;
        color: var(--clr-third);
    }
    td{
        margin: auto;
        padding: 1rem;
    }
  
  
    .action{
        margin: 8px;
    }

    .mat-header-cell {
        transition: .5s;
        font-weight: 600;
        color: var(--clr-headgreen); 
        background:var(--clr-lightfontgreen);

        tr.example-element-row:not(.example-expanded-row):active,:hover {
            transition: .5s;
            color: var(--clr-lightgray); 
        }
    }

    tr.example-element-row:not(.example-expanded-row):hover  {
        transition: .5s;
        background: var(--clr-lightgray);
    }
    
    .empty-image{
        margin: 1rem 15rem 1rem 15rem;
        width: 50%;
        justify-content: center;
    }
}



.action-warn{
    font-size: .8rem;
    color: var(--clr-warn) !important;

    span{
        font-size: .8rem;
    }
    mat-icon{
        transition: .5s;
        color: var(--clr-warn) !important;
        &:hover{
            transition: .5s;
            font-weight: 600;
        }

    }
  
}


@media  screen and (max-width: 720px) {
    .wrapper{
        margin: 20px 0 0 0;

    
        .header>h1{
            font-size: 1.5rem;
            color: var(--clr-third);
            font-weight: 600;
        }
    
        mat-divider{
            width: 70%;
            border-radius: 5px;
            border-top-width: 5px;
            border-color: var(--clr-third);
        }

        .search{
            display: flex;
            flex-direction: column;
            justify-content: none;
            margin: 10px;
            height: 50px;
        }
        .search-input {
            width: 100%;
            margin-top: 1rem;
       
            }
        .mat-card{
            margin-top: 5rem;
        }
        td{
            font-size: .7rem;
        }
        table{
            .Name_header{
              width: 100px !important;
            }


        .mat-column-sName_fld{
            mat-icon{
                visibility: hidden;
            }
        }
    }
        .action{
            margin: 5px;
            .mat-icon{
                height: 30px !important;
                width: 30px !important;
            }
         
        }
    }
 
}
