*{
    font-weight: lighter;
}
.wrapper{
    margin: 2rem 2rem 0 2rem;
}
h1{
    font-size: 2rem;
    color: #334e5c;
    font-weight: 600;
}

mat-divider{
    width: 15%;
    border-radius: 5px;
    border-top-width: 5px;
    border-color: #334e5c;

}

.search{
    margin-top: 3rem;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button{
        color: white;
        background-color: #255cff;
    }

    span{
        font-weight: bold;
    }
}
.search-input {
    display: flex;
    border-radius: 5px;
    border: 1px solid gray;
    justify-content: flex-start;
    background-color: #f5f5f5;
    input{
        margin-left: 10px;
    }
}

.mat-card{
    min-height: 50vh;
    margin: 1rem 0 2rem 0;
    box-shadow: 4px 4px 20px 4px rgb(201, 199, 199);

}

.mat-card-content{
    margin: 0;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.content,table{
    width: 100% !important;
}

th, td{
    cursor: pointer;
    width:10%;
}
.action{
    margin: 8px;
}

.mat-header-cell {
    background: #255cff;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}
th:hover {
    color: gray;
  }

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
.empty-image{
    margin: 1rem 15rem 1rem 15rem;
    width: 50%;
    justify-content: center;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .wrapper{
        margin: 20px 0 0 0;
    }
    h1{
        font-size: 24px;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: none;
        margin: 10px;
        height: 50px;
    }
    .search-input {
        width: 100%;
        margin-top: 1rem;
   
        }
    .mat-card{
        margin-top: 5rem;
    }
    td{
        font-size: .8rem;
    }
    .action{
        margin: 5px;
        .mat-icon{
            height: 30px !important;
            width: 30px !important;
        }
     
    }
}
